html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron','Poppins', sans-serif;
    line-height: 1.5;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
    color: white;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 100;
    border-bottom: #6d00a7 solid 2px;
    height: 40px;
}
.nav-logo{
    width: 50px;
    margin: 1rem 0;
}
.nav-logo:hover{
    opacity: 0.7;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.nav-link:hover{
    color: #6d00a7;
    box-shadow: inset 0px 0px 3px 1px #00000090;
    border-radius: 5px;
}
.hero{
    padding: 8rem 4rem 3rem;
    background: linear-gradient(180deg, #783aff, #ac74e0);
    background: url(./images/Hero\ image2e.webp);
    background-size: cover;
    display: flex;
    color: white;
    text-align: center;
    border-bottom: 2px solid #6d00a7;
    -webkit-mask-image: linear-gradient(black 80%, transparent);
    mask-image: linear-gradient(black 80%, transparent);
}

.hero-sub{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    text-align: start;
}

.hero-sub h1{
    font-size: 2.5rem;
}

.hero-sub p{
    margin-bottom: 1rem;
    line-height: 1.6;
}

.hero-btns {
    display: flex;
    justify-content: start;
    margin-top: 1.5rem;
    gap: 1rem;
    color: white;
}

.hero-sub img{
    width: 250px;
    animation: growShrink 2s infinite;
   }

   @keyframes growShrink {
       0% {
           transform: scale(1);
           /* Original size */
       }

       50% {
           transform: scale(1.2);
           /* Grows to 120% */
       }

       100% {
           transform: scale(1);
           /* Shrinks back to original size */
       }
   }

@media screen and (max-width: 768px){

        .nav-links{
            gap: .2rem;
            margin: 0.5rem 0;
            font-size: smaller;
        }
        
        .hero{
            padding: 5rem 1rem 2rem;
            text-align: center;
            justify-content: center;
        }
        .hero-sub{
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
        .hero-sub h1{
            font-size: 2rem;
        }
        #topBtn{
            right: 6px;
            bottom: 20px;
            font-size: 3px;
        }
        .skills-section{
            text-align: center;
            justify-content: center;
        }
        .skills-container{
            text-align: center;
            justify-content: center;
        }
        .portfolio-section{
            text-align: center;
            justify-content: center;
        }
        .portfolio-container{
            text-align: center;
            justify-content: center;
        }
        .portfolio-img {
            width: 50%;
            height: auto;
            border-radius: 5px;
            box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
        }
        .testimonials-section{
            text-align: center;
            justify-content: center;
        }
        .testimonials-container{
            text-align: center;
            justify-content: center;
        }
        .about-section{
            text-align: center;
            justify-content: center;
        }
        .about-section h1{
            font-size:larger;
        }
        .about-container{
            text-align: center;
            justify-content: center;
        }
        .about-img{
            display: none;
        }
        .footer-container{
            padding: 1rem 1rem;
        }
        .c-buttons {
            flex-direction: column;
            gap: .5rem;
        }
        .c-paragraph {
            padding: 0 0 !important;
        }
    }

button{
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 5rem;
    border: 2px solid #6d00a7;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;

}
button:hover{
    transform: translate(0px, -3px);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.2);
    background-color: #6d00a7;
    border: 2px solid white;
    color: #ffffff;
}

.skills-section {
    text-align: center;
    padding: 2rem 2rem;
}

.skills-container{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 2rem 4rem;
}

.portfolio-section{
    text-align: center;
    padding: 2rem 4rem;
}

.portfolio-container{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 2rem;
}
.portfolio-item{
    background-color: #f4f4f4;
    padding: .3rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.1);
    height: auto;
}

.portfolio-img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
.testimonials-section{
    text-align: center;
    padding: 2rem 4rem;
}
.testimonials-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
}
.testimonial {
    background-color: #f4f4f4;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.1);
}
.testimonial-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}

.about-section{
    padding: 2rem 4rem;
    text-align: center;
}
/* .about-img{
    width: 500px;
    border-radius: 10px;
} */
.abt-img2{
    width: 200px;
    border-radius: 20px;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 50px;
}
.about-item{
    background-color: #f4f4f4;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
/* .about-item:hover{
    transform: translate(0px, -3px);
    box-shadow: 2px 2px 20px 3px rgba(160, 160, 160, 0.5);
    transition: all 0.3s ease-in-out;
} */
.about-item p {
    font-size: small;
    color: black;
    text-align: left;
    padding: 0 0;
}

/*To top button*/
#topBtn{
    padding: 0px;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}
#topBtn:hover{
    transform: none;
    transition: none;
    box-shadow: none;
}
footer {
    text-align: center;
    padding: .5rem 0;
    color: white;
    font-weight: 600;
    background-color: #6d00a7;
    background: linear-gradient(180deg, #783aff, #ac74e0);
    border-top: #6d00a7 solid 5px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem 2rem;
    gap: 1rem;
}
.footer-p {
    text-align: center;
    padding: 1rem 0 0;
    margin: 1rem 0 0;
    color: white;
}

.footer-item {
    text-align: center;
    padding: 0 2rem;
    margin: 1rem 0 2rem;
    justify-content: center;
    align-content: center;
}

.whatsApp {
    background-color: #198754;
    border: 2px solid #ffffff;
    color: white;
}

.whatsApp:hover {
    background-color: #ffffff;
    border: 2px solid #198754;
    color: #198754 !important;
}

.bi-arrow-up-circle-fill{
    font-size: 30px;
    color: #6d00a7;
    fill: white;
}
.c-header {
    font-size: 1.8rem;
    margin: .5rem 0 1rem;
}

.c-paragraph {
    text-align: center;
    margin: 1rem 0 1.5rem;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 300;
}

.c-buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: .5rem 0 1rem;
}

.contact-inputs{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.contact-inputs:focus{
    outline: none;
    border: 2px solid #6d00a7;
    box-shadow: 0 0 5px rgba(109, 0, 167, 0.5);
}

.contact-inputs::placeholder{
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}

.form-btn{
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.form-btn button{
    width: 100%;
}

.bi-instagram, .bi-facebook, .bi-github{
    color: white;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 0%;
}
.bi-instagram:hover, .bi-facebook:hover, .bi-github:hover{
    color: #6d00a7;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* hover gallery */
.gallery {
    --g: 8px;
    /* the gap */
    --s: 400px;
    /* the size */

    display: grid;
    border-radius: 50%;
}

.gallery>img {
    grid-area: 1/1;
    width: 300px;
    aspect-ratio: 1;
    box-shadow: var(--shadow-sm);
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x, 0), var(--_y, 0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
}

@media screen and (max-width: 768px) {
    .gallery>img {
        width: 300px;
    }
}

.gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
}

.gallery:hover img {
    transform: translate(0, 0);
}

.gallery>img:nth-child(1) {
    clip-path: polygon(50% 50%, calc(50%*var(--_i, 0)) calc(120%*var(--_i, 0)), 0 calc(100%*var(--_i, 0)), 0 0, 100% 0, 100% calc(100%*var(--_i, 0)), calc(100% - 50%*var(--_i, 0)) calc(120%*var(--_i, 0)));
    --_y: calc(-1*var(--g))
}

.gallery>img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(100% - 120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100% - 100%*var(--_i, 0)) 0, 100% 0, 100% 100%, calc(100% - 100%*var(--_i, 0)) 100%, calc(100% - 120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
    --_x: var(--g)
}

.gallery>img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(100% - 50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)), 100% calc(100% - 120%*var(--_i, 0)), 100% 100%, 0 100%, 0 calc(100% - 100%*var(--_i, 0)), calc(50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)));
    --_y: var(--g)
}

.gallery>img:nth-child(4) {
    clip-path: polygon(50% 50%, calc(120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100%*var(--_i, 0)) 0, 0 0, 0 100%, calc(100%*var(--_i, 0)) 100%, calc(120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
    --_x: calc(-1*var(--g))
}